
body{
    color: #1255c1;
    
    margin: 10px 40px;
}
.btn{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color:white;
    border: 1px solid #d71b1b;
    color: #1255c1;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    box-shadow: 0 0 7px #d71b1b;
}
.location{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #d71b1b 1px solid;
    
}
.locations{
    flex-basis: 50%;
}
h1{
    text-align: center;
}
.location div{
    width: 120px;
    text-align: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-bottom: 10px;
  padding: 5px;

}
.search input{
    height: 15px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #d71b1b;
    padding: 10px;
    color: #1255c1;
}
.search input:focus { 
    outline: none;
    /* border-color: coral; */
    box-shadow: 0 0 10px #d71b1b;
  }
.logo{
   height: 130px; 
   margin-inline-start: 20px;

}
.hidden{
    opacity: 0;
    position: absolute;
}
.logo-container{

    margin-bottom: 10px;
    border-bottom: 1px solid #d71b1b;
    width: 100%;
}
.map-actions{
    /* margin: 0 auto 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.loc-weather{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:15px
}
.weather{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.weather div{
    padding: 30px;
    border: 1px solid #d71b1b;
    border-radius: 20px;
}